:root {
  --logo1-color: #2196f3;
  --logo2-color: #000000;
  --second-background: #f5f4fa;
  --third-background: #2f303a;
  --hover-focus-color: #2196f3;
  --link-color: #212121;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-icon-background: rgba(255, 255, 255, 0.1);
  --contrast-text-color: #ffffff;
  --minor-text-color: #757575;
  --border-header: #ececec;
  --border-image: #eeeeee;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: #ffffff;
  color: #212121;
  margin: 0;
  padding: 0;
  border: 0;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}
/*classes to items occurring in more than one place on pages like containers, sections, links, buttons, logo*/
.container {
  width: 100%;
  max-width: 1200px;
  padding: o 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.section {
  padding-top: 94px;
}
.section-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.section-list figure {
  margin: 0;
}
.link {
  text-decoration: none;
}
.button {
  border: none;
  display: block;
  cursor: pointer;
  background-color: var(--second-background);
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--hover-focus-color);
  color: var(--contrast-text-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 1.19;
  text-decoration: none;
}
.logo1 {
  color: var(--logo1-color);
}
.logo2 {
  color: var(--logo2-color);
}
.social-media-icon:hover,
.social-media-icon:focus {
  --color3: var(--hover-focus-color);
  --color4: var(--contrast-text-color);
}
/*header content*/
.main-header {
  border-bottom: 1px solid var(--border-header);
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.main-header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  list-style-type: none;
  display: flex;
  width: 254px;
  justify-content: space-between;
  margin-left: 93px;
  margin-right: 371px;
}
.main-header-nav .link {
  color: var(--link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-header-nav .link:hover {
  color: var(--hover-focus-color);
}
.main-header-nav .link:focus {
  color: var(--hover-focus-color);
}
.main-header .active-link {
  position: relative;
  color: var(--hover-focus-color);
}
.main-header .active-link::after {
  content: "";
  position: absolute;
  margin-top: 46px;
  margin-left: -100%;
  width: 100%;
  height: 4px;
  background: var(--hover-focus-color);
  border-radius: 2px;
}
.main-header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  text-align: center;
  gap: 50px;
}
.envelope {
  --color2: var(--link-color);
  margin-right: 10px;
  transition: --color2 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.envelope:hover,
.envelope:focus {
  --color2: var(--hover-focus-color);
}
.smartphone {
  --color5: var(--link-color);
  margin-right: 10px;
  transition: --color2 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.smartphone:hover,
.smartphone:focus {
  --color5: var(--hover-focus-color);
}
.main-header-contact .link {
  color: var(--link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-header-contact .link:hover,
.main-header-contact .link:focus {
  color: var(--hover-focus-color);
}
/*main page content - index*/
.section1 {
  background-color: var(--third-background);
  background-image: url(../images/team-picture.jpg),
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-size: 1600px, cover;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
}
.section1-item {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 1.36;
  color: var(--contrast-text-color);
  text-transform: uppercase;
  max-width: 696px;
  text-align: center;
  margin: 0 auto;
}
.section1 .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1.88;
  padding: 10px 41px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
}
.backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}
.modal {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--contrast-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin: auto;
  position: relative;
  padding: 40px;
}
.modal-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: var(--contrast-text-color);
}
.is-hidden {
  transform: translatey(100%);
}
.modal-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--link-color);
}

.textarea-input {
  display: block;
  resize: none;
  outline: none;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  margin: auto;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  color: var(--minor-text-color, 0.5);
}

.textarea-input:focus {
  border-color: var(--hover-focus-color);
}

.input-box {
  display: block;
  position: relative;
}
.modal-icon {
  pointer-events: none;
  position: absolute;
  top: 30%;
  left: 3%;
}

.input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  padding-left: 40px;
  outline: none;
}
.input:focus-within + .modal-icon {
  fill: var(--hover-focus-color);
}
input:focus {
  border-color: var(--hover-focus-color);
}

.name {
  display: block;
  margin-bottom: 4px;
  color: var(--minor-text-color);
  line-height: 14px;
  letter-spacing: 0.01em;
  font-size: 12px;
}
.label {
  padding-top: 10px;
  padding-left: 16px;
  font-size: 12px;
  color: var(--minor-text-color);
}
.legal-checkbox {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
}
.spancheck {
  margin: 0 0 0 24px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--minor-text-color);
}
.check-button {
  display: flex;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: var(--hover-focus-color);
  color: var(--contrast-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px 76px 10px 76px;
  margin: auto;
  align-items: center;
}

.checkbox-span {
  display: flex;
  width: 16px;
  height: 15px;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--link-color);
}
.hide-checkbox {
  opacity: 0;
}
.hide-checkbox:checked + .checkbox-span {
  background-color: var(--hover-focus-color);
  border: none;
}
.checkbox-link {
  color: var(--hover-focus-color);
}
.section2-icon {
  margin: 25px 100px;
}
.section2-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}
.section2-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.71;
  color: var(--minor-text-color);
}
.section3-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.section3 .section-list {
  justify-content: space-between;
}
.section3 .list-item {
  position: relative;
}
.section3 .list-item img {
  display: block;
}
.section3 .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  text-transform: uppercase;
  color: var(--contrast-text-color);
  text-align: center;
  padding-top: 27px;
}
.section4 .section-list {
  justify-content: space-between;
  padding-bottom: 30px;
  gap: 30px;
}
.section4 .section-list .social {
  margin-right: 32px;
  margin-left: 32px;
  margin-top: 16px;
  gap: 10px;
}
.section4 figure {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.section4-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.section4-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.19;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}
.section4-description {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.19;
  color: var(--minor-text-color);
  text-align: center;
}
.section5 {
  padding-bottom: 94px;
}
.section5 .section-list {
  justify-content: space-between;
}
.section5-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.section5-icon {
  margin-top: 17.71px;
  margin-right: 32px;
  margin-bottom: 14.25px;
  margin-left: 32px;
}
.section5 .link {
  transition: --color4 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section5 .link:hover {
  --color4: var(--hover-focus-color);
}
.icon-link-border {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-border:hover {
  border-color: var(--hover-focus-color);
}
/*second page content - portfolio*/
.button-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.section6 {
  padding-bottom: 94px;
}
.section6 .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.63;
  padding: 6px 22px;
  margin-bottom: 50px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.section6 .section-list {
  flex-wrap: wrap;
}
.section6 .section-list li {
  flex-basis: calc((100% - 60px) / 3);
}
.section6 img {
  display: block;
}
.section6 .box {
  position: relative;
  overflow: hidden;
}
.section6 .hover-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1.56;
  color: var(--contrast-text-color);
  text-align: left;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section6 figure:hover .hover-overlay {
  transform: translateY(-100%);
}
.section6-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 2;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
}
.section6-description {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1.88;
  color: var(--minor-text-color);
  margin-left: 24px;
  margin-bottom: 20px;
}
.section6 figure {
  border-bottom: 1px solid var(--border-image);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section6 figure:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*footer content*/
.main-footer {
  background-color: var(--third-background);
  color: var(--contrast-text-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.main-footer .container {
  display: flex;
}
.footer-logo-address {
  display: flex;
  flex-direction: column;
}
.main-footer .logo2 {
  color: var(--contrast-text-color);
}
.main-footer-address {
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.71;
  list-style-type: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-footer-address:hover,
.main-footer-address:focus {
  color: var(--hover-focus-color);
}
.main-footer-item {
  color: var(--footer-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-footer-item:hover,
.main-footer-item:focus {
  color: var(--hover-focus-color);
}
.social-media {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 12px;
}
.social-media .section-list {
  gap: 10px;
}
.social-media-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main-footer .social-media-icon {
  --color3: var(--footer-icon-background);
  --color4: var(--contrast-text-color);
  transition: --color3 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-icon:hover,
.social-media-icon:focus {
  --color3: var(--hover-focus-color);
}
.footer-form {
  display: flex;
  flex-direction: column;
  margin-left: 78px;
}
.footer-form-label {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--contrast-text-color);
  margin-bottom: 20px;
  margin-top: 12px;
}
.footer-form-input {
  width: 358px;
  height: 50px;
  color: var(--footer-link-color);
  border: 1px solid rgba(117, 117, 117, 0.3);
  border-radius: 4px;
  padding: 16px 15px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0;
}
.form-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: var(--hover-focus-color);
  color: var(--contrast-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px 28px 10px 42px;
}
.form-container {
  display: flex;
}
.footer-form-input:hover,
.footer-form-input:focus {
  border-color: var(--hover-focus-color);
}
